@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Cinzel&family=East+Sea+Dokdo&family=Fauna+One&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  margin: auto;
}
